[Desktop Entry]
Type=Application
Name=Acoustic Camera
Exec=/home/jdn/Code/Acoustic-Camera/bin/restart.sh
Icon=/home/jdn/Code/Acoustic-Camera/assets/icon.svg
Terminal=false
