[Desktop Entry]
Type=Application
Name=Reboot
Comment=Reboot the machine
Exec=/usr/sbin/reboot
Icon=/home/jdn/Code/Acoustic-Camera/assets/reboot.gif
Terminal=false
Categories=System;
