[Desktop Entry]
Type=Application
Name=System Shutdown
Comment=Shut down the machine
Exec=/usr/bin/systemctl poweroff
Icon=/home/jdn/Code/Acoustic-Camera/assets/power_off.png
Terminal=false
Categories=System;
